services:
  flask_apiapp_c:
    build: .
    image: flask-apiapp-i

    ports:
      - 22333:5000
    container_name: flask_apiapp_c

    healthcheck:  # ensure container up w/ healthy running
      #TODO simpler test cmd with block syntax |
      test: ['CMD-SHELL', 'nc -z -w1 127.0.0.1 5000']
      #                    nc        127.0.0.1 CAUTION dont use localhost here ; must use 127.0.0.1 instead
      retries:  6
      timeout:  2s
      interval: 3s

  c_wait4healthy:  # this c is f waiting until flask_apiapp_c is healthy
    image: busybox  # smallest linux i
    depends_on:
      flask_apiapp_c:
        condition: service_healthy
