name: ci_nguyen_todb18dslop

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: SSH deploy to VM (nguyen)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 52.221.30.212
          username: nguyen
          key: ${{ secrets.SSH_PRIVATEKEY_NGUYEN }}
          script: |
            printf '\n--- git pull latest code\n'
            cd /home/nguyen/todb18/todb18_danhsachlop
            git fetch --all
            git switch -C nguyen origin/nguyen
            
            printf '\n--- run compose up to update flask webapp\n'
            cd ./docker-learn/zdockerize_python/webapp_gitcloned/flask_webapp/zdocker
            ./zcomposebuildup.sh



