name: cilong_buildimage_ongitpush


on: 
  push:
    branches: [ci/long-build]
  workflow_dispatch:

jobs:
  deploy_job:
    runs-on: ubuntu-22.04
    steps:

      - name: --- checkout source code
        uses: actions/checkout@v4

      - name: --- print code info
        run: |
          echo;ls -lah;echo
          echo;pwd;echo
          git log -n2 --oneline
