name: cinam_up_image_fr_dockerhub

on:
  workflow_dispatch:

jobs:
  deploy_job:
    runs-on: ubuntu-22.04
    steps:
      - name: --- checkout source code
        uses: actions/checkout@v4

      - name: --- up stack webapp+apiapp fr image
        run: |
          cd ./docker-learn/zdockerize_python/webapp_gitcloned/flask_webapp/zdocker-image-fr-dockerhub
          
          docker compose \
            -f "$SH/docker-compose--image-fr-dockerhub.yml" \
            --progress=plain up --force-recreate -d  --remove-orphans
