name: cinam_buildimage_ongitpush

on:
  # run when git pushed to branch nam
  push:
    branches: [ci/nam-build]
  # also allow manual run this ci
  workflow_dispatch:

jobs:
  deploy_job:
    runs-on: ubuntu-22.04
    steps:
      - name: --- checkout source code
        uses: actions/checkout@v4

      - name: ---
        run: |
          git log --oneline -2
          echo TODO ci/nam-build
