name: cinam_buildimage_ongitpush

on:
  # run when git pushed to branch nam
  push:
    branches: [ci/nam-build]
  # also allow manual run this ci
  workflow_dispatch:

jobs:
  deploy_job:
    runs-on: ubuntu-22.04
    steps:
      - name: --- checkout source code
        uses: actions/checkout@v4

      - name: --- print code info
        run: |
          echo;ls -lah;echo
          echo;pwd;echo
          git log -n2 --oneline

      - name: --- build image - Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: --- build image
        run: |
          cd ./docker-learn/zdockerize_python/webapp_gitcloned/flask_webapp/zdocker
          docker compose --progress=plain build --no-cache  # this will build image named flask-webapp-i  ref compose yml

      - name: --- login dockerhub to push image
        uses: docker/login-action@v3
        with:
          username: ${{ vars.NAM_DOCKERHUB_USERNAME }}
          password: ${{ secrets.NAM_DOCKERHUB_TOKEN }}

      - name: --- tag n push image
        run: |
          set -e
          docker image ls | grep          flask-webapp-i 
          # reaching here ensured we have flask-webapp-i
          
          #           =                             owner/repo
          i_owner_repo=${{ vars.NAM_DOCKERHUB_USERNAME }}/todb18dslop-webapp
          docker tag flask-webapp-i $i_owner_repo
          docker push               $i_owner_repo

      - name: --- test after pushed
        run: |
          #           =                             owner/repo
          i_owner_repo=${{ vars.NAM_DOCKERHUB_USERNAME }}/todb18dslop-webapp
          docker rmi  $i_owner_repo 2>/dev/null || true
          docker pull $i_owner_repo
