- name: Test SSH
  run: |
    mkdir -p ~/.ssh
    echo "${{ secrets.SSH_PRIVATEKEY_PHU }}" > ~/.ssh/id_key
    chmod 600 ~/.ssh/id_key
    ssh -i ~/.ssh/id_key -o StrictHostKeyChecking=no -v phunp2@52.221.30.212 "whoami && hostname"
