name: ciphunp2_todb18dslop


on:
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: SSH deploy to VM todb18
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 52.221.30.212
          username: phunp2
          port: 22
          key: ${{ secrets.SSH_PRIVATEKEY_PHU }}
          script_stop: true
          debug: true
          script: |
            set -e
            cd /home/phunp2/_/todb18_danhsachlop
            git fetch --all
            git switch -C phunp2 origin/phunp2
            cd docker-learn/zdockerize_python/webapp_gitcloned/flask_webapp/zdocker
            ./zcomposebuildup.sh
