name: ciphunp2_todb18dslop

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: SSH auth check to VM todb18
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 52.221.30.212
          username: phunp2
          key: ${{ secrets.SSH_PRIVATEKEY_PHU }}
          port: 22
          debug: true
          script: |
            whoami
