name: citung_todb18dslop
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: ssh to vm todb18
        uses: appleboy/ssh-action@v1.0.3
        with:
          key: ${{ secrets.SSH_PRIVATEKEY_TUNG }}
          username: tung
          host: 52.221.30.212
          script: |
            hostname
            echo "USER=$USER"
            pwd
            ls -la
            pwd
